<IfModule mod_deflate.c>
   AddType image/svg+xml svg svgz
   AddEncoding gzip svgz
    SetOutputFilter DEFLATE
    #Don't compress
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
    SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary
    #Dealing with proxy servers
    <IfModule mod_headers.c>
        Header append Vary User-Agent
    </IfModule>
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /pmm/
RewriteRule ^index\.php$ - [L]
RewriteRule ^login/?$ /pmm/wp-login.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /pmm/index.php [L]
</IfModule>

# END WordPress

# BEGIN FRedirect_ErrorDocument
ErrorDocument 404 /pmm/index.php?error=404
# END FRedirect_ErrorDocument

# Proteção do arquivo wp-config.php
<files wp-config.php>
order allow,deny
deny from all
</files>